extends layout 

block main
    h1 List of all the authors

    if authors
        ul.list
            each author in authors
                li.list-item 
                    a(href=author.url) #{author.name}

    else
        p There are not authors in the library

    .control-container
        a.btn.btn-primary(href="/catalog/author/create") New Author