h3.title
    a(href="/catalog") Local library
.menu
    a.menu-item(href='/catalog/author') Authors
    a.menu-item(href='/catalog/book') Books
    a.menu-item(href='/catalog/genre') Genres
    a.menu-item(href='/catalog/bookinstance') Bookinstances
button.btn-close Menu

script(src="/javascripts/index.js")